# Tuplas

### Estrutura:

tupla = (valor, valor, valor, ...)

### Diferença

Parece uma lista, mas é imutável.

### Vantagens:

- Mais eficiente (em termos de performance)
- Protege a base de dados (por ser imutável)
- Muito usado para dados heterogêneos

### Criando tuplas

In [4]:
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [11]:
print(vendas)

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

### Acessando o valor de uma tupla

In [14]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

# vendas[3] = 4000 -> tupas sã imutáveis e aceita multiplos tipos de variáveis de uma vez 
novaLista = list(vendas) # transformando tupla em lista 
novaLista[3] = 4000  # modificando lista 
print(novaLista)

['Lira', '25/08/2020', '15/02/1994', 4000, 'Estagiário']

In [29]:
n1,n2,n3,n4,n5=vendas #divide todos os valores em variaveis diretamente
print(n1) 

for item in enumerate(vendas): # enumerate transfoma em tuplas para acessar a numeração da lista
    print(item)

print('\n')    

for i,item in enumerate(vendas):
    print(i,item)

Lira
(0, 'Lira')
(1, '25/08/2020')
(2, '15/02/1994')
(3, 2000)
(4, 'Estagiário')


0 Lira
1 25/08/2020
2 15/02/1994
3 2000
4 Estagiário